# Rust Build Outputs
/target/

# Local Environment Variables
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/
*.rs.bk


# Added by cargo

/target
/uploads/

build_rs_cov.profraw
cobertura.xml
clippy-report.json
to-do.md
.scannerwork